.about {
  &__title{
    font-family: "Rampart One", cursive;
    font-size: 4rem;
    text-align: center;
    margin: 3rem auto 4rem;
  }
  &__disc {
    text-align: center;
    font-size: 1.4rem;
  }
}