.hidden {
  display: none;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.grid{
  display: grid;
}

.btn {
  display: inline-block;
  text-decoration: none;
  min-width: 10rem;
  text-align: center;
  &:hover{
  text-decoration: none;
  }
}

a {
  color: inherit;
}

button {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
}
.btn {
  display: inline-block;
  cursor: pointer;
  transition: .5s;
  &__default{
    border: 1px solid;
    border-radius: 2rem;
    padding: .7rem .5rem;
  }
  &--delete {
    background: $red;
    color: $slate-50;
    &:hover{
      background: $slate-50;
      color: $red;
    }
  }
  &--details{
    background: $purple;
    color: $slate-50;
    &:hover{
      background: $slate-50;
      color: $purple;
    }
  }
}

.container {
  max-width: 90vw;
  margin: auto;
}

.text-center{
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .container {
    padding: 0 1rem;
  }
}