@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto+Mono:wght@400;600;700&display=swap');

// Colors
$cyan : #0891b2;
$black : #111827;
$slate-50 : #fafafa;
$slate: #0f172a;
$red: #dc2626;
$green: #16a34a;
$purple: #9333ea;
$transition: .5s;
// Spacing
$--spacing-s: 8px;
$--spacing-m: 16px;
$--spacing-l: 24px;
$--spacing-xl: 32px;
$--spacing-xxl: 64px;

@mixin buttonStyle($textColor,$bgColor, $hoverColor, $hoverColorText){
  border: 1px solid;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: .5s;
  background: $bgColor;
  color: $textColor;
  &:hover{
    background: $hoverColor;
    color: $hoverColorText;
  }
}
*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: $slate;
  color: $slate-50;
  height: 100%;
}
.main {
  padding-top: 5rem;
}


