@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto+Mono:wght@400;600;700&display=swap');

// Colors
$cyan : #0891b2;
$black : #111827;
$slate-50 : #fafafa;
$slate: #0f172a;
$red: #dc2626;
$green: #16a34a;
$purple: #9333ea;
$transition: .5s;

/* Small (sm) */
@media (min-width: 640px) {

}

/* Medium (md) */
@media (min-width: 768px) {

}

/* Large (lg) */
@media (min-width: 1024px) {

}

/* Extra Large (xl) */
@media (min-width: 1280px) {

}

