
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: $slate;
  color: $slate-50;
}
.main {
  padding-top: 5rem;
}

a {
  color: inherit;
}

button {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
}
.btn {
  display: inline-block;
  cursor: pointer;
  transition: .5s;
  &__default{
    border: 1px solid;
    border-radius: 2rem;
    padding: .7rem .5rem;
  }
&--delete {
  background: $red;
  color: $slate-50;
  &:hover{
    background: $slate-50;
    color: $red;
  }
}
  &--details{
    background: $purple;
    color: $slate-50;
    &:hover{
      background: $slate-50;
      color: $purple;
    }
  }
}

.container {
  max-width: 90vw;
  margin: auto;
}
/* Small (sm) */
@media (min-width: 640px) {
  .container {
    padding: 0 1rem;
  }
}